

<h1 style="color:red" class='text-center'>
  Thanks for your playing
</h1>
<h2 style="color:white" class='text-center'>
  I think now it's time to Las Vegas
</h2>
</br>
</br>
</br>
</br>
</br>
</br>

<h2 style="color:white" class='text-center'>
  <a href='/new_player'>Or maybe play one more time?</a>
</h2>

