form#hit_button{
  float:left;
  margin-right:5px;
}

img.image{
  margin:5px;
}

body {
  background-image: url("images/table.jpg");
  background-size: 1400px 820px;
  background-repeat: no-repeat;
}

